/.metadata/
/CronoUnitTeste/nbproject/private/
/DateTeste/nbproject/private/
/DateTimeFormatterTeste/nbproject/private/
/DurationTeste/nbproject/private/
/FormatacaoMoedas/nbproject/private/
/FormatandoDatas/nbproject/private/
/InstantTeste/nbproject/private/
/LocalDateTeste/nbproject/private/
/LocalDateTimeTeste/nbproject/private/
/LocalTimeTeste/nbproject/private/
/LocalizaçãoTeste/nbproject/private/
/NumerosLocale/nbproject/private/
/PeriodTeste/nbproject/private/
/RegexTeste/nbproject/private/
/ResourceBundle/nbproject/private/
/SimpleDateFormat/nbproject/private/
/StringsTeste/nbproject/private/
/TemporalAdjusterTesteExercicio/nbproject/private/
/TemporalAdjustersTeste/nbproject/private/
/WrappersTeste/nbproject/private/
/ZonedDateTimeTeste/nbproject/private/
/EntradaSaidaDadosIOTeste/nbproject/private/
/EntradaSaidaDadosIOTeste/build/
/SimpleDateFormat/build/
/FileWriteTeste/nbproject/private/
/FileWriteTeste/build/
